//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
//

$gobii-maroon: (
  50: #efe0e0,
  100: #d8b3b3,
  200: #be8080,
  300: #a34d4d,
  400: #902626,
  500: #7c0000,
  600: #740000,
  700: #690000,
  800: #5f0000,
  900: #4c0000,
  A100: #ff8080,
  A200: #ff4d4d,
  A400: #ff1a1a,
  A700: #ff0000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$gobii-emerald: (
  50: #ebf3e8,
  100: #cde0c5,
  200: #abcb9f,
  300: #89b679,
  400: #70a75c,
  500: #57973f,
  600: #4f8f39,
  700: #468431,
  800: #3c7a29,
  900: #2c691b,
  A100: #b6ffa5,
  A200: #8dff72,
  A400: #63ff3f,
  A700: #4fff25,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$gobii-olive: (
  50: #f3f8f0,
  100: #e0edda,
  200: #cbe1c2,
  300: #b6d4a9,
  400: #a7cb96,
  500: #97c284,
  600: #8fbc7c,
  700: #84b471,
  800: #7aac67,
  900: #699f54,
  A100: #ffffff,
  A200: #ddffd0,
  A400: #b7ff9d,
  A700: #a5ff84,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #505050,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

@mixin mat-snack-bar-theme($gobii-app-theme) {
  $is-dark-theme: map-get($gobii-app-theme, is-dark);
  $accent: map-get($gobii-app-theme, primary);

  .mat-snack-bar-container {
    background: if($is-dark-theme, map-get($mat-grey, 50), map-get($gobii-emerald, 500));
    color: if($is-dark-theme, $dark-primary-text, $light-primary-text);
  }

  .mat-simple-snackbar-action {
    color: if($is-dark-theme, inherit, rgba(map-get($gobii-olive, 500), 1));
  }
}
