/*!
 * KUP - Custom Material Design Theme
 *
 * Define custom color palettes and component styles.
 */

@import 'node_modules/@angular/material/theming';
@import '_gobii-variables.scss';
@import '_pfr-variables.scss';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme(
  $app-primary,
  $app-accent,
  $app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Define an alternate PFR theme.
$pfr-app-primary: mat-palette($pfr-green);
$pfr-app-accent:  mat-palette($pfr-blue);
$pfr-app-warn:    mat-palette($pfr-maroon);

$pfr-app-theme:   mat-light-theme(
  $pfr-app-primary,
  $pfr-app-accent,
  $pfr-app-warn
  );


// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.pfr-app-theme` will be affected by this pfr app theme instead of the default theme.
.pfr-app-theme {
  @include angular-material-theme($pfr-app-theme);
  @mixin angular-material-theme($pfr-app-theme) {
    @include mat-snack-bar-theme($pfr-app-theme);
  }
}

// Define an alternate GOBii theme.
$gobii-app-primary: mat-palette($gobii-emerald);
$gobii-app-accent:  mat-palette($gobii-olive, A100);
$gobii-app-warn:    mat-palette($gobii-maroon);

$gobii-app-theme:   mat-light-theme(
  $gobii-app-primary,
  $gobii-app-accent,
  $gobii-app-warn
  );

.gobii-app-theme {
  @include angular-material-theme($gobii-app-theme);
  @mixin angular-material-theme($gobii-app-theme) {
    @include mat-snack-bar-theme($gobii-app-theme);
  }
}