//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
//


$pfr-maroon: (
  50 : #ede0e7,
  100 : #d1b3c2,
  200 : #b38099,
  300 : #944d70,
  400 : #7d2652,
  500 : #660033,
  600 : #5e002e,
  700 : #530027,
  800 : #490020,
  900 : #380014,
  A100 : #ff6e93,
  A200 : #ff3b6c,
  A400 : #ff0846,
  A700 : #ee003b,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);
$pfr-green: (
  50 : #f0f8e8,
    100 : #d9edc6,
    200 : #c0e1a0,
    300 : #a7d57a,
    400 : #94cc5e,
    500 : #81c341,
    600 : #79bd3b,
    700 : #6eb532,
    800 : #64ae2a,
    900 : #51a11c,
    A100 : #e7ffd9,
    A200 : #c7ffa6,
    A400 : #a6ff73,
    A700 : #96ff59,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
    )
);

$pfr-light-blue: (
  50 : #fdfdfd,
  100 : #fafbfb,
  200 : #f7f9f9,
  300 : #f3f6f6,
  400 : #f1f4f4,
  500 : #eef2f2,
  600 : #ecf0f0,
  700 : #e9eeee,
  800 : #e7ecec,
  900 : #e2e8e8,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
$pfr-blue: (
  50 : #ebf0f0,
  100 : #ced8da,
  200 : #adbfc1,
  300 : #8ca5a8,
  400 : #749195,
  500 : #5b7e82,
  600 : #53767a,
  700 : #496b6f,
  800 : #406165,
  900 : #2f4e52,
  A100 : #a0f4ff,
  A200 : #6deeff,
  A400 : #3ae8ff,
  A700 : #20e5ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

@mixin mat-snack-bar-theme($pfr-app-theme) {
  $is-dark-theme: map-get($pfr-app-theme, is-dark);
  $accent: map-get($pfr-app-theme, primary);

  .mat-snack-bar-container {
    background: if($is-dark-theme, map-get($mat-grey, 50), map-get($pfr-blue, 500));
    color: if($is-dark-theme, $dark-primary-text, $light-primary-text);
  }

  .mat-simple-snackbar-action {
    color: if($is-dark-theme, inherit, rgba( map-get($pfr-green, 500), 1));
  }
}
